<div class="employee-list-container">
  <div class="header-bar">
    <h2>เลือกเวรการทำงาน</h2>
    <div class="actions">
      <input type="text" placeholder="ค้นหา..." [(ngModel)]="searchText" (input)="onSearchInput()">
      <input type="date" [(ngModel)]="startDate" name="startDate" />
      <input type="date" [(ngModel)]="endDate" name="endDate" />
      <select #perPageSelect (change)="changeItemsPerPage(perPageSelect.value)">
        <option [value]="10">10</option>
        <option [value]="15">15</option>
        <option [value]="20">20</option>
      </select>
      <button>บันทึก</button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>ชื่อ</th>
        <th>นามสกุล</th>
        <th>แผนก</th>
        <th>เวร</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="paginatedEmployees.length === 0">
        <td colspan="4" style="text-align: center;">ไม่มีข้อมูลที่ตรงกับเงื่อนไข</td>
      </tr>
      <tr *ngFor="let emp of paginatedEmployees">
        <td>{{ emp.firstName }}</td>
        <td>{{ emp.lastName }}</td>
        <td>{{ emp.department }}</td>
        <td>
          <select [(ngModel)]="selectedShift[emp._id]">
            <option *ngFor="let option of shiftOptions" [value]="option">{{ option }}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination-controls" *ngIf="filteredEmployees.length > 0">
    <button (click)="previousPage()" [disabled]="currentPage === 1">ก่อนหน้า</button>
    <span>หน้า {{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">ถัดไป</button>
  </div>
</div>